.App {
  text-align: center;
  min-height: 100vh;
  background-color:beige
}

.todostyle{
  border: 1px solid rgb(223, 210, 209);
 border-radius: 50px;
  margin: 10px 0;
  padding: 10px 20px;
  display: flex;
  width: 450px;
  align-items: center;
 
}
.editelm,.deletelem{
  margin-left:85%;
}
input[type="text"]{
  
  width:27%;
  height: 35px;
  border-radius: 10px;
  
  border: 1px solid black;
}
button[type="submit"]{
  background-color:lightpink;
  border: 1px solid rgb(108, 137, 145);
  border-radius: 10px;
  height: 35px;
  padding: 0px 20px 0px 20px;
}
/* span{

  margin-block-end: 70%;
} */
 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
h1{
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
